* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image:linear-gradient(#009688 20%, #dbdbd2 20% 100%);
}

.main {
    width: 80%;
    margin: 0 auto;
}

.bg-white {
    background-color: white;
}

.bg-azure {
    background-color: lightblue;
}

.bg-light-grey {
    background-color: lightgray;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

.height-30 {
    height: 30px;
}

.height-50 {
    height: 50px;
}

.m-1 {
    margin : 0 1em;
}

.mtb {
    margin: 1em 0;
}

.ml-1 {
    margin-left: 1em;
}

.container-left, .container-right {
    margin-top: 2.3em;
}

.container-left {
    width: 35%;
}

.header-left {
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.container-img {
    align-items: center;
}

.container-img img {
    border-radius: 50%;
}

.container-new-notify {
    align-items: center;
}
.container-fontawesome {
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 8%;
    padding: 0.5em;
    border-radius: 50%;
}

.container-text-notify {
    width: 70%;
}
.received {
    font-size: 0.8em;
    font-weight: bold;
}

.active-notify {
    font-size: 0.5em;
    text-decoration: underline;
    color: grey;
}

.container-chat-search {
    align-items: center;
    color: grey;
}

.input-chat {
    border-style: none;
    outline: none;
}

.container-chat {
    height: calc(100vh - 200px);
    padding-top: 0.5em;
}

.container-chat-user {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.container-chat-user:hover {
    background-color: lightgrey;
}
.container-chat-user.active {
    background-color: lightgrey;
}

.img-avatar-chat {
    border-radius: 50%;
    padding: 0.3em;
}

.container-text .last-message {
    color: grey;
    font-size: 0.5em;

}

.container-data {
    font-size: 0.5em;
}

.container-right {
    width: 65%;
}

.header-right {
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.last-access {
    font-size: 0.5em;
}

.container-text-chat {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
    padding: 20px;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.message {
    background-color: white;
    width: 60%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 0.5em;
}
.message .data {
    text-align: end;
    font-size: 0.8em;
    color: lightgray;
}
.message.sent {
    background-color: #d5f9ba;
    align-self: end;
}

.container-footer-chat {
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.container-input-chat{
    height: 80%;
    border-radius: 10px;
}

.emoticon, .voice {
    padding: 1em;
}