<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <main class="main d-flex">
            <div class="container-left">
                <div class="header-left d-flex height-50">
                    <div class="container-img width-50 d-flex">
                        <img class="width-20" src="img/avatar_io.jpg" alt="">
                        <span class="UserName">Nome Utente</span>
                    </div>
                    <div class="container-icons">
                        <i class="fas fa-circle-notch m-1"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v m-1"></i>
                    </div>
                </div>
                <div class="container-new-notify height-50 d-flex bg-azure">
                    <div class="container-fontawesome bg-white d-flex m-1">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="container-text-notify d-flex column">
                        <span class="received">Ricevi notifiche di nuovi messaggi</span>
                        <span class="active-notify">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div class="container-chat-search width-100 bg-white d-flex height-30">
                    <i class="fas fa-search width-10 ml-1"></i>
                    <input 
                    class="input-chat width-90" 
                    type="text" 
                    placeholder="Cerca o inizia una nuova chat">
                </div>
                <div  class="container-chat bg-white width-100">
                    <div @click="(counter = index)"
                        v-for="(element, index) in contacts"
                        class="container-chat-user bg-white width-95 d-flex height-50"
                        :class=" (counter == index) ? 'active' : '' ">
                        <div class="container-img-chat d-flex width-20">
                            <img class="img-avatar-chat width-80" :src="`img/avatar${element.avatar}.jpg`" alt="">
                        </div>
                        <div class="container-text width-50">
                            <span class="received">{{element.name}}</span>
                            <div class="last-message">
                                {{element.messages[(element.messages.length - 1)].text}}
                            </div> 
                        </div>
                        <div class="container-data width-30">
                            {{element.messages[(element.messages.length - 1)].date}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div class="header-right d-flex height-50">
                    <div class="container-img width-10 d-flex">
                        <img class="width-50" :src="`img/avatar${contacts[counter].avatar}.jpg`" alt="">
                    </div>
                    <div class="container-user width-70">
                        <span class="UserName">{{contacts[counter].name}}</span>
                        <div class="last-access">
                            Ultimo accesso oggi alle {{lastDate(contacts[counter].messages).date}}
                        </div>
                    </div>
                    <div class="container-icons width-20">
                        <i class="fas fa-search m-1"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v m-1"></i>
                    </div>
                </div>
                <div class="container-text-chat">
                    <div v-for="elementMessage in contacts[counter].messages" class="message" :class="elementMessage.status == 'sent' ? 'sent' : ''">
                        <p>{{elementMessage.text}}</p>
                        <p class="data">{{elementMessage.date}}</p>
                    </div>
                </div>
                <div class="container-footer-chat height-50 bg-light-grey d-flex">
                    <div class="emoticon d-flex">
                        <i class="far fa-smile font-20 grey"></i>
                    </div>
                    <div class="container-input-chat d-flex width-80">
                        <input 
                        v-model='newMessage'
                        @keyup.enter="newElement" 
                        class="input-chat width-100" 
                        type="text" 
                        placeholder="Scrivi un messaggio">
                    </div>
                    <div class="voice d-flex">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>